
#root {
    background-color: var(--primary-color);
}


/* --- HEADER --- */

header {
    color: var(--white-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    padding: 1.25rem;
    padding-bottom: 1.5rem;
}

h1 {
    width: 100%;
}

.arrow__back {
    cursor: pointer;

    padding: 0.375rem;
}

.pokemon__img {
    padding: 0 4.75rem;
}