
#root {
    background-color: var(--primary-color);
}


/* --- HEADER --- */

header {
    max-width: 22.5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.75rem;
    padding-bottom: 1.5rem;
}

nav {
    width: 100%;
    height: 2rem;

    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


#searchbar {
    width: 100%;
    height: 100%;

    border: 0;
    border-radius: 16px;

    padding-left: 2.25rem;
    padding-right: 1rem;
}

#searchbar:focus {
    outline: 0;
}

#searchbar::placeholder {
    color: var(--medium-color);
}


#sort {
    max-width: 2rem;
    width: 100%;
    height: 100%;

    border: 0;
    border-radius: 100px;
    background-color: var(--white-color);

    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 300;

    cursor: pointer;
}



/* --- MAIN --- */

.pokemon__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    background-color: #fff;
    border-radius: 8px;

    padding: 1.5rem 0.75rem;
}

.pokemon__wrapper {
    border-radius: 8px;

    text-decoration: none;
}

.pokemon {
    display: flex;
    flex-direction: column;
}


.pokemon__img {
    display: block;
    padding: 0 1rem;
}

.pokemon__number {
    color: var(--medium-color);
    text-align: right;

    padding-top: 0.25rem;
    padding-right: 0.5rem;
}

.pokemon__name {
    color: var(--dark-color);
    text-transform: capitalize;
    text-align: center;

    padding: 0 0.5rem;
    padding-bottom: 0.25rem;
}